{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <title>STATSPICKS</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="logo">STATSPICKS NBA</div>
        <!-- Hamburger Menu Icon -->
        <div class="hamburger-menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="navbar-links">
            <a href="{% url 'overunder:index' %}" class="navbar-item">COMBINED TOTAL POINTS</a>
            <a href="{% url 'playerpoints:player_predictions' %}" class="navbar-item">PLAYER POINTS</a>
        </div>
    </nav>
    <div class="page-content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/navbar.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
